* {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    box-sizing: border-box;
    background-image:radial-gradient(600px, #1F40BA, #182060, #0E1628);
    color: white;
  }
  
  .cabecalho__projetos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .nav_projetos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    gap: 15px;
  }

  .nav_projetos > a {
    text-decoration: none;
    font-size: 15px;
    border: #a63ee1 solid;
    border-style: groove;
    padding: 15px;
    border-radius: 35px;
  }
  

  
  .cabecalho__projetos a:hover {
    background-color: #1f40ba;
    color: aliceblue;
    scale: 1.25;
    transition: .50s;
  }

  
  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 50px;
    animation-name: animacao__h1;
    animation-duration: 1s;
    color: #a63ee1
  }

  @keyframes animacao__h1 {
    0%{
        margin-right:-350px;
        opacity:0%;
    }
    100%{
        margin-right:0 px;
        opacity: 100%;
    }
}

  .container_about{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    flex-direction:row;
    /* border: red solid; */
  }



  .texto{
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: lighter;
    animation-name: animacao__texto;
    animation-duration: 1.5s;
    /* border: red solid; */
  }

    @keyframes animacao__texto {
        0%{
            scale:0%;
            opacity:0%;
        }
        100%{
            scale: 100%;
            opacity: 90%;
        }

  }

  .container__principal{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;

  }

   .foto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
    width: 350px;
    animation-name: animacao__foto;
    animation-duration: 1.5s;
   }

   @keyframes animacao__foto {
    0%{
        scale:0%;
        opacity:0%;
    }
    100%{
        scale: 100%;
        opacity: 100%;
    }
    
   }



@keyframes animacao__rodape {

    0%{
        opacity: 0%;
        margin-left: -180vh;
    }
    80%{
        opacity: 0%;
        margin-left: 180vh;
    }
    100%{
        opacity:100% ;
        margin-left: 0vh;
    }
}


@media (max-width: 1000px) {
  .nav_projetos {
    gap: 5px;
  }
  .nav_projetos > a{
    margin-top: 25px;
    width: 15%;
    font-size: 7px;
  }

  .texto{
    font-size: 15px;
    box-sizing: border-box;
  }

  .foto{
    width: 250px;
  }


}

